- content_for :navbar do
  = render partial: 'shared/nav_bar'
- content_for :sidebar do
  = render partial: 'shared/side_bar'
.well
  %h1 Лепрооткрытки
  %p Лепрооткрытки - это такой проект для пользователей суверенного Лепрозория, который позволяет обмениваться открытками прямо как в посткроссинге, но он теплый и ламповый
  = link_to 'Я уже хочу зарегистрироваться!', signup_path, class: 'btn btn-primary btn-large'
  = link_to 'Нет, расскажите мне подробнее', about_path, class: 'btn btn-large'